.board {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.375rem;
}

.info {
  line-height: 0.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5%;
}
