$squareBackground: #fff;
$squareBorder: 0.25rem solid #ddd;
$squareSize: 4rem;

$lineColor: #007bff;

.square {
  width: $squareSize;
  height: $squareSize;
  background-color: $squareBackground;
  border: $squareBorder;
  border-radius: 7%;
  position: relative;
  font-family: monospace;
  font-size: 0.8rem;
  &--blocked {
    background: #ee5555;
  }
}

.square__line-svg {
  stroke: $lineColor;
  opacity: 0.3;
  stroke-width: 8%;
  position: absolute;
  z-index: 10;
  top: calc(-50% - 0.875rem);
  left: calc(-50% - 0.875rem);
  width: calc(200% + 1.75rem);
  height: calc(200% + 1.75rem);
  stroke-linecap: round;
  overflow: visible;
  pointer-events: none;
}
